<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tab name and logo -->
    <title>Page 1 Studios</title>
    <link rel="icon" href="/static/images/P1S.svg" type="image/png">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="header-container">
            <div class="logo">
                <a href="#intro">
                    <img src="/static/images/logo.svg" alt="Logo" />
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="intro" id="intro">
            <img src="/static/images/duck-web.svg" alt="Duck Web overlay" class="svg-background" id="duck-web">
            <img src="/static/images/html-cmd.svg" alt="html cmd overlay" class="svg-background" id="html-cmd">
            <div class="intro-container">
                <div class="intro-text">
                    <p id="intro-line-1"></p>
                    <br>
                    <p id="intro-line-2"></p>
                </div>
            </div>
            <div class="intro-social">
                <a href="https://www.linkedin.com/in/tom-page-/" target="_blank">
                    <img src="/static/images/linkedin.svg" alt="LinkedIn" class="intro-social-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/images/instagram.svg" alt="Instagram" class="intro-social-icon">
                </a>
                <a href="https://github.com/TomPage4" target="_blank">
                    <img src="/static/images/github.svg" alt="GitHub" class="intro-social-icon">
                </a>
            </div>
        </section>

        <hr class="section-divider">

        <section class="about" id="about">
            <div class="about-container">
                <div class="slideshow-wrapper">
                    <div class="slideshow-track" id="slideshow-track">
                        <img src="/static/images/about-1.jpeg" alt="Slide 1" />
                        <img src="/static/images/about-2.jpeg" alt="Slide 2" />
                        <img src="/static/images/about-3.jpeg" alt="Slide 3" />
                        <img src="/static/images/about-4.jpeg" alt="Slide 4" />
                        <img src="/static/images/about-5.JPG" alt="Slide 5" />
                    </div>
                </div>
                <div class="about-content">
                    <h2 class="animated-header" id="about-header">About</h2>
                    <p class="about-text" id="about-text-1">Hi, I'm Tom Page — a software engineering student based in Cardiff, Wales, and the founder of Page 1 Studios.
                        I started this web design business with one goal in mind: to help individuals and businesses make a strong first impression online.
                        Whether you're launching your first site or looking to refresh an existing one, I bring a mix of creativity, technical know-how, and a personal touch to every project.
                    </p>
                    <p class="about-text" id="about-text-2">
                        Let’s build something great — starting from page 1.
                    </p>
                </div>
            </div>
        </section>
        
        <hr class="section-divider">

        <section class="work" id="work">
            <div class="work-header-container">
                <h2 class="animated-header" id="work-header">Work</h2>
                <p class="work-header-text">Plenty late nights and a lot of passion.
                    Here’s where creativity meets code.
                </p>
            </div>
            <div class="work-card-container">
                {% for job in jobs %}
                <a href="{{ job.link }}" target="_blank">
                    <div class="work-card" style="background-image: url('{{ job.image }}');">
                        <div class="work-content">
                            <h2>{{ job.title }}</h2>
                            <span>{{ job.description }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <hr class="section-divider">
          
        <section class="contact" id="contact">
            <div class="contact-header-container">
                <h2 class="animated-header" id="contact-header">Contact</h2>
                <p class="contact-text">Ready to start something new? Get in touch!</p>
            </div>
            <form id="contact-form">
                <label for="name">Name</label>
                <input name="name" class="contact-input" id="name">
                <p class="error-message" id="name-error"></p>

                <label for="email">Email</label>
                <input name="email" class="contact-input" id="email">
                <p class="error-message" id="email-error"></p>

                <label for="message">Message</label>
                <textarea name="message" class="contact-input" id="message"></textarea>
                <p class="error-message" id="message-error"></p>

                <button type="submit" class="animated-button" id="contact-submit-button">Reach out</button>
            </form>
        </section>

        <hr class="section-divider">

        <section class="source-code">
            <canvas id="falling-code"></canvas>
            <div class="source-code-content">
                <h2 class="animated-header" id="source-code-header">Source code</h2>
                <p class="source-code-text">The Code Behind the Curtain</p>
                <p class="source-code-text">Curious minds are welcome. Your journey through the code begins here.</p>
            </div>
            <div class="enter-repository-container">
                <a href="https://github.com/TomPage4/website-portfolio/tree/main" target="_blank">
                    <button class="animated-button" id="enter-repository-button">ENTER</button>
                </a>
            </div>
        </section>

        <hr class="section-divider">
    </main>

    <footer class="site-footer">
        <section class="footer-container">
            <a href="#intro">
                <img src="/static/images/logo.svg" alt="Page 1 Studios Logo">
            </a>

            <hr class="section-divider" id="footer-divider">

            <nav>
                <ul class="footer-nav-links">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

            <hr class="section-divider" id="footer-divider">

            <div class="footer-social">
                <a href="https://www.linkedin.com/in/tom-page-/" target="_blank">
                    <img src="/static/images/linkedin.svg" alt="LinkedIn" class="footer-social-icon">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/images/instagram.svg" alt="Instagram" class="footer-social-icon">
                </a>
                <a href="https://github.com/TomPage4" target="_blank">
                    <img src="/static/images/github.svg" alt="GitHub" class="footer-social-icon">
                </a>
            </div>
        </section>
        <div class="affiliate">
            <p>Affiliate: <a href="#">Javier Dare</a></p>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>